*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --page-background: #f3e6d8;
  --card-background: #ffffff;
  --break-line: #e4ded8;
  --normal-txt: #5f574e;
  --txt-bold: #302d2c;
  --sub-heading: #854632;
  --prep-time-txt: #7b284f;
  --prep-time-box: #fff5fa;
}

.darkmode {
  --page-background: #121212;
  --card-background: #1e1e1e;
  /* --sec-background: #252525; */
  --sub-heading: #ffffff;
  --desc-txt: #e0e0e0;
  --sec-titel: #ffd700;
  --body-txt: #b0b0b0;
  --txt-bold: #ffcc80;
  /* --card-border: #333333; */
  --prep-time-box: #292929;
  --prep-time-txt: #ffcc80;
  --bullets: #ff9800;
  --nutri-table: #252525;
  --heading-table: #ffcc80;
  --data-table: #ffffff;
}

body {
  background-color: var(--page-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 555px;
  background-color: var(--card-background);
  border-radius: 8px;
  /* padding: 1.5rem 2rem; */
  padding: 1.5rem 0;
  font-size: 1rem;
  margin: 3rem 0;
}

@media (max-width: 624px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  figure .meal {
    border-radius: 0px;
    width: 100%;
    margin: 0;
  }
}

section {
  padding: 0 1.7rem;
}

.meal {
  width: 89%;
  border-radius: 8px;
  margin: 0 2rem;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin: 0.5em 0;
  color: var(--em-txt);
}

.meal-info {
  font-size: 0.8rem;
  color: var(--normal-txt);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.prep-time {
  background-color: var(--prep-time-box);
  padding: 1.5rem 1.2rem 1rem;
  margin: 0 1.7rem;
  margin-top: 1rem;
  font-family: "Outfit", sans-serif;
  border-radius: 12px;
}

.prep-time-heading {
  color: var(--prep-time-txt);
}

.prep-time-info {
  margin-left: 1.2em;
  margin-top: 1em;
}

.prep-time-info li {
  font-size: 0.8rem;
  color: var(--normal-txt);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin: 1em 0;
  padding-left: 0.78rem;
}

.prep-time-info li::marker {
  color: var(--prep-time-txt);
}

h2 {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
  color: var(--sub-heading);
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.ingredients-info {
  font-family: "Outfit", sans-serif;
  margin-left: 1.1em;
  margin-bottom: 1.6em;
}

.ingredients-info li {
  list-style-type: square;
  font-size: 0.8rem;
  color: var(--normal-txt);
  margin-bottom: 0.8rem;
  font-weight: 400;
  padding-left: 0.6rem;
  line-height: 1.2;
}

.ingredients-info li::marker {
  color: var(--sub-heading);
  font-size: 0.5rem;
}

.instructions-info {
  font-family: "Outfit", sans-serif;
  margin-left: 1.2em;
  margin-bottom: 1.6em;
}

.instructions-info li {
  font-size: 0.8rem;
  color: var(--normal-txt);
  margin-bottom: 0.8rem;
  font-weight: 400;
  padding-left: 0.6rem;
  line-height: 1.2;
}

.instructions-info li::marker {
  font-weight: 600;
  font-size: 0.7rem;
  color: var(--sub-heading);
}

.table-info {
  font-size: 0.8rem;
  color: var(--normal-txt);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.nutri-info {
  font-family: "Outfit", sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.term,
.value {
  padding-bottom: 0.6rem;
}

.carbs,
.protein,
.fat {
  padding-top: 0.6rem;
}

.fat {
  padding-bottom: 1rem;
}

.term {
  padding-left: 1.8rem;
  color: var(--normal-txt);
}
.value {
  color: var(--sub-heading);
  font-weight: 600;
  padding-right: 1.6rem;
}

hr {
  width: 89%;
  margin: auto;
}

tr hr {
  width: 100%;
}
